body {
  font-family: Arial, sans-serif;
  background-color: #424141;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
}

form {
  width: 500px;
  padding: 45px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: glowing 1.5s infinite;
  background: #333;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

input[type="number"] {
  width: 90%;
  height: 30px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  width: 95%;
  height: 50px;
  background-color: #4CAF50;
  color: #fff;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

#result {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  color: #fff;
}

@media (max-width: 980px) {
  .container {
    width: 320px;

  }
  h1 {
    text-align: center;
  }
 
}

@keyframes glowing {
  0% { border-color: #ff00ff; box-shadow: 0 0 10px #ff00ff; }
  25% { border-color: #00ffff; box-shadow: 0 0 10px #00ffff; }
  50% { border-color: #00ff00; box-shadow: 0 0 10px #00ff00; }
  75% { border-color: #ffff00; box-shadow: 0 0 10px #ffff00; }
  100% { border-color: #ff0000; box-shadow: 0 0 10px #ff0000; }
}
